<div class="container">
  <h1 class="page-title">New Application</h1>
  <p class="page-description">
    If you feel that your organization or project is a good match with the VF’s funding priorities, you may apply for a grant by downloading and completing the following documents:
  </p>
  <p class="page-description">
    <a href="/public/VF_Application_Form.docx">Vatterott Foundation Application Form (docx)</a>
  </p>
  <p class="page-description">
    <a href="/public/VF_Budget_Template_form.xls">Vatterott Foundation Budget Template (xls)</a>
  </p>
  <p class="page-description">
    For further information about the Common Grant Application & Budget Template please see the <a href="/public/CGA_User_Guide.pdf">CGA USER GUIDE (PDF)</a>.
  </p>
  <p class="page-description">
    Please send application materials to:
    <address>
      <strong>Vatterott Foundation</strong><br>
      10449 St. Charles Rock Road<br>
      St. Ann, MO  63074
    </address>
  </p>
</div>
