<h1 class="page-title">
  New Application
  <span class="logout-button admin link-like" ng-if="grantApp.user.admin === true" ng-click="grantApp.goToAdmin()">Admin Page</span>
  <span class="logout-button link-like" ng-click="grantApp.logout()">Logout</span>
</h1>
<p>You must upload all of these files before the deadline to submit a valid application, but you don't have to upload every file all at once.</p>
<p>Upload one file now and come back before the deadline. We'll save your progress till you come back.</p>
<form name="grantAppForm" ng-submit="grantApp.uploadForm()">
  <label for="company"><span  class="required">Organization Name</span>
    <input type="text" name="company" ng-disabled="grantApp.lockFields" ng-model="grantApp.currentApplication.company" required placeholder="ex. Non-Profits 'R Us" />
  </label>

  <label for="name"><span  class="required">Contact Name</span>
    <input type="text" name="contactName" ng-disabled="grantApp.lockFields" ng-model="grantApp.currentApplication.contactName" required placeholder="ex. Charles Vatterott" />
  </label>

  <label for="phone"><span  class="required">Contact Phone #</span>
    <input type="text" name="contactPhone" ng-disabled="grantApp.lockFields" ng-model="grantApp.currentApplication.contactPhone" required placeholder="ex. 314-222-2222" />
  </label>

  <fieldset>
    <legend class="section-description required">&nbsp;We ask that you submit the following documents (at least one at a time)&nbsp;&nbsp;&nbsp;</legend>

    <label for="application">
      <div>Application Form and Narrative Questions (<a href="/public/VF_Application_Form.docx">download</a>)</div>
      <div class="uploaded" ng-if="grantApp.currentApplication.applicationForm.uploaded">
        <i class="fa fa-check-square"></i>Uploaded!
      </div>
      <input id="application" ng-class="{'invisible-input': grantApp.currentApplication.applicationForm.uploaded}" ng-disabled="grantApp.currentApplication.applicationForm.uploaded" type="file" ngf-select name="applicationForm" ng-model="grantApp.currentApplication.applicationForm" />
    </label>

    <label for="project-budget">
      <div>Project Budget Template Form (<a href="/public/VF_Budget_Template_Form.xls">download</a>)</div>
      <div class="uploaded" ng-if="grantApp.currentApplication.projectBudget.uploaded">
        <i class="fa fa-check-square"></i>Uploaded!
      </div>
      <input id="project-budget" ng-class="{'invisible-input': grantApp.currentApplication.projectBudget.uploaded}" ng-disabled="grantApp.currentApplication.projectBudget.uploaded" type="file" ngf-select name="projectBudget" ng-model="grantApp.currentApplication.projectBudget" />
    </label>

    <label for="current-budget">
      <div>Current Organizational Budget</div>
      <div class="uploaded" ng-if="grantApp.currentApplication.orgBudget.uploaded">
        <i class="fa fa-check-square"></i>Uploaded!
      </div>
      <input id="current-budget" ng-class="{'invisible-input': grantApp.currentApplication.orgBudget.uploaded}" ng-disabled="grantApp.currentApplication.orgBudget.uploaded" type="file" ngf-select name="orgBudget" ng-model="grantApp.currentApplication.orgBudget" />
    </label>

    <label for="irs-letter">
      <div>IRS Letter of Determination</div>
      <div class="uploaded" ng-if="grantApp.currentApplication.irsLetter.uploaded">
        <i class="fa fa-check-square"></i>Uploaded!
      </div>
      <input id="irs-letter" ng-class="{'invisible-input': grantApp.currentApplication.irsLetter.uploaded}" ng-disabled="grantApp.currentApplication.irsLetter.uploaded" type="file" ngf-select name="irsLetter" ng-model="grantApp.currentApplication.irsLetter" />
    </label>

  </fieldset>
  <ng-messages for="grantApp.messages">
    <ng-message when="unfinished">
      <p><strong>The form is not finished</strong></p>
      <p>Please fill in every field first before submitting</p>
    </ng-message>
    <ng-message when="needFile">
      <p><strong>You have to upload at least one file</strong></p>
      <p>Please upload at least one file</p>
    </ng-message>
    <ng-message when="uploading">
      <p><i class="fa fa-spinner fa-pulse fa-2x"></i>Uploading...please wait</p>
    </ng-message>
    <ng-message when="completed">
      <p><strong>Application completed!</strong></p>
      <p>Thank you! You have finished uploading all required files. Our administrator will be in contact with you after reviewing the files. If you have any questions or concerns please e-mail info@vatterottfoundation.org.</p>
    </ng-message>
  </ng-messages>
  <div class="form-actions">
    <button type="submit" class="primary" ng-disabled="grantApp.messages.completed">Upload Files</button>
  </div>
</form>
