<h1 class="page-title">New Application</h1>
<p>You must upload all of these files before the deadline to submit a valid application, but you don't have to upload every file all at once.</p>
<p>Upload one file now and come back before the deadline. We'll save your progress till you come back.</p>
<form name="grantAppForm" ng-submit="grantApp.uploadForm()">
  <label for="company">Organization Name
    <input type="text" name="company" ng-model="grantApp.currentApplication.company" required placeholder="ex. Non-Profits 'R Us" />
  </label>

  <label for="name">Contact Name
    <input type="text" name="contactName" ng-model="grantApp.currentApplication.contactName" required placeholder="ex. Charles Vatterott" />
  </label>

  <label for="phone">Contact Phone #
    <input type="text" name="contactPhone" ng-model="grantApp.currentApplication.contactPhone" required placeholder="ex. 314-222-2222" />
  </label>

  <fieldset>
    <legend class="section-description">&nbsp;We ask that you submit the following documents:&nbsp;</legend>

    <label for="application">
      Application Form (<a href="/public/VF_Application_Form.docx">download</a>)
      <input id="application" ng-class="{'invisible-input': grantApp.currentApplication.applicationForm.uploaded}" ng-disabled="grantApp.currentApplication.applicationForm.uploaded" type="file" ngf-select ngf-max-size="2MB" name="applicationForm" ng-model="grantApp.currentApplication.applicationForm" />
    </label>

    <label for="project-budget">
      Project Budget Template Form (<a href="/public/VF_Budget_Template_form.xls">download</a>)
      <input id="project-budget" type="file" ngf-select ngf-max-size="2MB" name="projectBudget" ng-model="grantApp.currentApplication.projectBudget" />
    </label>

    <label for="current-budget">
      Current Organizational Budget
      <input id="current-budget" type="file" ngf-select ngf-max-size="2MB" name="orgBudget" ng-model="grantApp.currentApplication.orgBudget" />
    </label>

    <label for="irs-letter">
      IRS Letter of Determination
      <input id="irs-letter" type="file" ngf-select ngf-max-size="2MB" name="irsLetter" ng-model="grantApp.currentApplication.irsLetter" />
    </label>

  </fieldset>
  <button type="submit" class="primary">Upload Files</button>
</form>
