<main>
  <div id="top-splash" class="transparent-section parallax">
    <div class="parallax-image" style="background-image: url(/images/man-person-school-head.jpg);">
    </div>
    <div class="container">
      <div class="splash-container">
        <div class="image-container">
          <img alt="The Vatterott Foundation" title="The Vatterott Foundation logo" src="images/VFlogo.png"/>
        </div>
        <p class="slogan">Supporting St. Louis Non-Profits</p>
         {# for educational opportunities, amelioration of sickness & distress, promotion of public welfare, and the advancement of religious orders in impoverished areas #}
        <a class="action-button" href="/grants">Apply for Grant</a>
      </div>
    </div>
  </div>
  <div id="what-we-do" class="normal-section">
    <div class="container">

    </div>
  </div>
  <div id="mission-statement" class="transparent-section parallax">
    <div class="parallax-image" style="background-image: url(/images/vatterott-family.jpg);">
    </div>
    <div class="container">
      <h1></h1>
    </div>
  </div>
  <div id="about" class="normal-section">
    <div class="container">

    </div>
  </div>
  <div id="vfyb-link" class="transparent-section parallax">
    <div class="parallax-image" style="background-image: url(/images/cousins.jpg);">
    </div>
    <div class="container">
      <h2>Vatterott Foundation Youth Board</h2>
    </div>
  </div>
  <div id="grant-action" class="normal-section">
    <div class="container">

    </div>
  </div>
</main>
