<div class="container">
  <h1 class="page-title">Who We Help</h1>
  <p class="page-description">For nearly 70 years, the Vatterott Foundation has partnered with non-profit organizations to serve those in need. The Foundation would like to thank each organization for their commitment to social justice and service to the poor.  Below are some of the organizations that have received funding from the Vatterott Foundation in the recent past.</p>
  <ul class="all-organizations">
    {% for org in site.data.grants|sort(false, true, 'name') %}
    <li class="organization">
      <a class="organization-link" href="<$ org.link $>" target="_blank">
        <h3 class="organization-name"><$ org.name $></h3>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
