.normal-section, .transparent-section {
  position: relative;
  // z-index: 1;

  .container {
    position: relative;
    // z-index: 1;
  }
}

.transparent-section {
  overflow: hidden; // added for pseudo-element
  color: white;

  .container {
    z-index: 2;
  }

  .section-header {
    .text-shadow();
  }
}

.normal-section {
  background: @background-texture;
  z-index: 2;
}

#top-image {
  top: 0;
}

.section-header {
  text-align: center;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2rem;

  @media (min-width: @tablet) {
    font-size: 3rem;
    line-height: 2;
  }
}

#top-splash {
  text-align: center;
  margin-top: -100px;
  max-height: 85vh;
  height: 100%;
  min-height: 500px;

  .container {
    padding-top: 6.5rem;

    @media (min-width: @tablet) {
      padding-top: 0;
    }
  }

  @media (max-width: @tablet) {
    .action-button {
      margin-bottom: 0;
    }
  }

  .splash-container {
    padding: 0rem 0;

    @media (min-width: @tablet) {
      padding: 4rem 0 2rem;
    }

    .image-container {
      margin-bottom: 2rem;

      img {
        background-color: rgba(255,255,255,0.9);
        height: auto;
        padding: 2rem;

        @media (min-width: @tablet) {
          height: 250px;
        }
      }
    }

    p {
      margin: 0 auto 2rem;
      font-size: 1.3rem;
      font-weight: 900;
      line-height: 1.5;

      &.slogan {
        .text-shadow();

        @media (min-width: @tablet) {
          font-size: 3rem;
        }
      }
    }
  }

  @media (min-height: 750px) {
    .splash-container p.slogan {
      display: block;
    }
  }
}

.do-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 1rem;
  padding: 1rem 0;

  @media (min-width: @tablet) {
    padding: 3rem 0;
  }
}

.do-header {
  line-height: 1;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;

  @media (min-width: @tablet) {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
}

.do-box {
  position: relative;
  z-index: 1;
  color: white;
  flex: 1 0 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
    z-index: -1;
  }

  @media (min-width: @tablet) {
    padding: 2rem;
    margin: 1rem;
    flex: 1 0 275px;
  }
}

.do-description {
  text-align: center;
  line-height: 1.2;
  font-size: 1.3rem;
  margin: 0 0 1rem;
}

#what-we-do {
  .section-header {
    margin-bottom: 0;
  }

  .action-button {
    margin-bottom: 0;
  }
}

#education {
  background-image: url(/images/students.jpg);
}

#sickness {
  background-image: url(/images/sickness.jpg);
}

#welfare {
  background-image: url(/images/welfare.jpg);
}

#religious {
  background-image: url(/images/religious.jpg);
}

.centered-quotations {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 5rem;
  line-height: 1.5;

  &::before, &::after {
    content: none;
  }

  strong {
    font-style: normal;
  }

  @media (min-width: @tablet) {
    font-size: 2.25rem;
    margin-bottom: 4rem;
  }
}

#mission-statement, #vfyb-link {

  &::before {
    background-color: rgba(0, 0, 0, .6);
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
  }

  .action-button {
    margin-bottom: 4rem;

    @media (min-width: @tablet) {
      margin-bottom: 2rem;
    }
  }
}

.home-text {
  font-size: 1.25rem;
  margin-bottom: 2rem;

  @media (min-width: @tablet) {
    text-indent: 3rem;
  }
}

.big-quote {
  max-width: 36rem;
  margin: 2rem auto;

  p {
    text-indent: 0;
    font-size: 1.1rem;
    margin-bottom: 1rem;

    @media (min-width: @tablet) {
      font-size: 1.6rem;
    }
  }
}

.figures {
  display: flex;
  justify-content: space-around;

  figure {

    img {
      width: 225px;
    }
  }
}

#grant-action {
  text-align: center;

  .home-text {
    text-indent: 0;
  }
}
