<main class="home-main">
  <div id="top-splash" class="transparent-section parallax">
    <div class="parallax-image" style="background-image: url(/images/man-person-school-head.jpg);">
    </div>
    <div class="container">
      <div class="splash-container">
        <div class="image-container">
          <img alt="The Vatterott Foundation" title="The Vatterott Foundation logo" src="images/VFlogo.png"/>
        </div>
        <p class="slogan">
          Celebrating over 65 Years<br>
          Supporting St. Louis Non-Profits
        </p>
        <a class="action-button" href="/applications">Apply for a Grant</a>
      </div>
    </div>
  </div>
  <div id="what-we-do" class="normal-section red-double-border">
    <div class="container">
      <h2 class="section-header">Our Focus Areas</h2>
      <div class="do-boxes">
        <div id="education" class="do-box">
          <h3 class="do-header">Educational Opportunities</h3>
          <p class="do-description">Catholic elementary and secondary education for disadvantaged youth</p>
        </div>
        <div id="sickness" class="do-box">
          <h3 class="do-header">Amelioration of <br>Sickness & Distress</h3>
          <p class="do-description">Health care organizations that treat under-served populations</p>
        </div>
      </div>
      <a class="action-button" href="/who-we-help">
        Find Out Who We Help
      </a>
      <div class="do-boxes">
        <div id="welfare" class="do-box">
          <h3 class="do-header">Promotion of <br>Public Welfare</h3>
          <p class="do-description">Services for the poor and assisting mothers who choose life for unborn children</p>
        </div>
        <div id="religious" class="do-box">
          <h3 class="do-header">Religious Advancement</h3>
          <p class="do-description">Religious orders that uphold a Catholic presence in low-income communities and provide spiritual services to those in need</p>
        </div>
      </div>
    </div>
  </div>
  <div id="mission-statement" class="transparent-section parallax">
    <div class="parallax-image" style="background-image: url(/images/vatterott-family.jpg);">
    </div>
    <div class="container">
      <h2 class="section-header">Mission Statement</h2>
      <blockquote class="centered-quotations">
        For the <strong>amelioration of human poverty</strong>, sickness, and distress, for the <strong>advancement of education</strong>, science, and learning, for the <strong>promotion of the public welfare</strong> and for the <strong>advancement of religion</strong> and the realization of Christ's Kingdom on earth, all for the greater glory of God.
      </blockquote>
      <a class="action-button" href="/trustees">
        See Our Current Trustees
      </a>
    </div>
  </div>
  <div id="about" class="normal-section red-double-border">
    <div class="container">
      <h2 class="section-header">Our History</h2>
      <blockquote class="big-quote">
        <p>To me, a home consecrated to <span style="font-variant: small-caps;">God</span>, with all its members looking to Him for direction, <strong>planning</strong> together, <strong>playing</strong> together, <strong>praying</strong> together...survives the years with joy.</p>
        <footer>
          <cite class="author">Charles F. Vatterott</cite>
          <cite class="citation-title">Vatterott Foundation Co-Founder</cite>
        </footer>
      </blockquote>
      <p class="home-text">
        Established in 1948 by Charles F. and Joseph H. Vatterott, the Vatterott Foundation provides funding to non-profit organizations located in the greater St. Louis area that share in the family foundation's focus areas and mission.
      </p>
      <div class="figures">
        <figure>
          <img src="/images/foundation-co-founder-joseph-vatterott.jpg" alt="Joesph Vatterott, Vatterott Foundation Co-Founder" />
          <figcaption>Joesph H. Vatterott</figcaption>
        </figure>
        <figure>
          <img src="/images/foundation-co-founder-charles-f-vatterott.jpg" alt="Charles F. Vatterott, Vatterott Foundation Co-Founder" />
          <figcaption>Charles F. Vatterott</figcaption>
        </figure>
      </div>
      <p class="home-text">
        During a time in which anti-racist dissent often resulted in perilous consequences, the Vatterott Foundation  worked to preserve the dignity of all people. Since its first donation to the <a href="https://books.google.com/books?id=z5V9t5b79TwC&pg=PA140&lpg=PA140&dq=Catholic+Interracial+Council+of+St.+Louis&source=bl&ots=PErB57QUF5&sig=6B76hdc4df0Qa3KhAyNVLbPYPBU&hl=en&sa=X&ved=0ahUKEwjwxsbYrJ_QAhVTImMKHQN-CK8Q6AEIPTAH#v=onepage&q=Catholic%20Interracial%20Council%20of%20St.%20Louis&f=false" target="_blank">Catholic Interracial Council</a> on October 27, 1948, the Vatterott Foundation remains a committed advocate in promoting racial justice.
      </p>
      <blockquote class="big-quote">
        <p>Our home, while never destitute, was <strong>poor but always happy</strong>. Our parents insisted on us unselfishness and the blessings of poverty; dignity of men; the nobility of labor and&mdash;in full bloom&mdash;sense of responsibility.</p>
        <footer>
          <cite class="author">Charles F. Vatterott</cite>
          <cite class="citation-title">Vatterott Foundation Co-Founder</cite>
        </footer>
      </blockquote>
      <p class="home-text">
        For many years the Foundation supported the <a href="http://archstl.org/archives/page/holy-angelsour-lady-angels-kinloch" target="_blank">Holy Angels School in Kinloch</a> by contributing monthly to pay for the salary of the school principal.  In that way, the Foundation has helped to maintain a Catholic presence in one of the most needy areas of St. Louis County.
      </p>
      <p class="home-text">
        Today the Vatterott Foundation Trustees work to keep the founders' humanitarian and religious spirit alive through their grant-making.
      </p>
    </div>
  </div>
  <div id="vfyb-link" class="transparent-section parallax">
    <div class="parallax-image" style="background-image: url(/images/cousins.jpg);">
    </div>
    <div class="container">
      <h2 class="section-header">Vatterott Foundation Youth Board</h2>
      <p class="home-text">
        In 2000 the Vatterott Foundation extended its tradition of giving by forming the Vatterott Foundation Youth Board (VFYB). The Youth Board is comprised of Vatterott descendants aged 13 to 30 who are interested in giving back to their community in the spirit of their ancestors.
      </p>
      <blockquote class="big-quote">
        <p>I feel that <strong>youthful</strong> energy can lead to <strong>success</strong> as well as <strong>opportunity</strong>.</p>
        <footer>
          <cite class="author">Charles F. Vatterott</cite>
          <cite class="citation-title">Vatterott Foundation Co-Founder</cite>
        </footer>
      </blockquote>
      <p class="home-text">
        In the spirit of the original foundation, the VFYB takes a unique approach to their grant making. The VFYB focuses on three core aspects of charity:  family, community and active participation.
      </p>
      <a class="action-button" href="/vfyb">
        Learn more about VFYB<br>
        & Grants Through Them
      </a>
    </div>
  </div>
  <div id="grant-action" class="normal-section red-double-border">
    <div class="container">
      <h2 class="section-header">Apply Today</h2>
      <p class="home-text">
        We are accepting applications for grants now!
      </p>
      <a class="action-button" href="/applications">Apply for a Grant</a>
    </div>
  </div>
</main>
