<h1 class="page-title">{{loginForm.type}}</h1>
<p>To apply for a grant or manage a previous application, please sign in or register for an account</p>
<div class="centered-form">
  <form name="credentialsForm" ng-submit="loginForm.submitCredentials()">
    <fieldset>
      <ng-messages for="loginForm.messages">
        <ng-message when="emailTaken">
          <p><strong>That e-mail address is already taken.</strong></p>
          <p>Try <span class="link-like" ng-click="loginForm.changeFormType()">signing in</span> instead or registering with a different e-mail address.</p>
        </ng-message>
        <ng-message when="registered">
          <p><strong>Your registration was successful!</strong></p>
          <p>Redirecting you now...</p>
        </ng-message>
        <ng-message when="signedIn">
          <p><strong>Signed in!</strong></p>
          <p>Redirecting you now...</p>
        </ng-message>
        <ng-message when="incorrectAuth">
          <p><strong>Incorrect email and password</strong></p>
          <p>Please try again</p>
        </ng-message>
      </ng-messages>

      <label for="email"> E-mail address </label>
      <input type="email" name="email" ng-model="loginForm.email" required />

      <label for="authentication">Password</label>
      <input type="password" name="authentication" ng-model="loginForm.authentication" required />

      <button class="secondary" ng-click="loginForm.cancel()">Cancel</button>
      <button class="primary" type="submit">{{loginForm.type}}</button>
    </fieldset>
  </form>
  <div class="form-footer">
    <div class="login-switch" ng-if="!loginForm.isNewUser">
      <p>Don't have an account?</p>
      <button class="secondary" ng-click="loginForm.changeFormType()">Register</button>
    </div>
    <div class="login-switch" ng-if="loginForm.isNewUser">
      <p>Already have an account?</p>
      <button class="secondary" ng-click="loginForm.changeFormType()">Sign In</button>
    </div>
  </div>
</div>
